<!-- <i class="circle green mdi-action-favorite"></i> -->
{{#if editable}}
  <div class="secondary-content" {{action "triggerEdit"}}>
    <i class="mdi-editor-mode-edit"></i>
  </div>
{{/if}}
<span class="title">{{input value=pipeline.title}}</span>
<p>{{textarea value=pipeline.description}}</p>
{{#if pipeline.hasDirtyAttributes}}
  {{md-btn-submit icon='mdi-action-save' iconPosition='right' text='Save' action="save"}}
{{/if}}
