<dl>
  <dt>title</dt><dd>{{input value=step.title}}</dd>
  <dt>description</dt><dd>{{textarea value=step.description}}</dd>
  <dt>index</dt><dd>{{input type="number" value=step.order}}</dd>
</dl>

<button {{action "create"}}>Create</button>
