<div class="navbar-fixed">
  {{#md-navbar name='BDE pipeline status' homeRoute='application'}}
    {{#link-to 'configuration' tagName='li'}}
      {{link-to 'Configuration' 'configuration'}}
    {{/link-to}}
  {{/md-navbar}}
</div>

{{outlet}}

{{md-modal-container}}
