<div class="container">
  <h3>Steps in this pipeline</h3>
  {{configuration/list-steps steps=model}}
</div>

<div class="container">
  <h3>Add step</h3>
  {{configuration/new-step pipeline=pipeline}}
</div>

{{outlet}}
