<div class="createPipeline">
  <dl>
    <dt>title</dt><dd>{{input type="text" value=pipeline.title}}</dd>
    <dt>content</dt><dd>{{textarea value=pipeline.content}}</dd>
  </dl>

  <button {{action "create"}}>Create</button>
</div>
